

.animation_bg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation_container {
    height: fit-content;
    width: 100%;
}

#preload_body.active img {
    animation: shadow 2.1s ease-out forwards;
}

@keyframes shadow {
    0% {
    }

    35% {
        filter: drop-shadow(0px 3px 3px #788);
    }

    50%, 99% {
        filter: drop-shadow(3px 5px 5px #677);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.aniamtion_wrap {
    position: relative;
}

    .aniamtion_wrap::after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        filter: opacity(90%);
        background: #eee;
    }

#preload_body.active .aniamtion_wrap::after {
    animation: fill 2.1s ease-out forwards;
}

@keyframes fill {
    0% {
        height: 100%;
    }

    50%, 99% {
        height: 0;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#preload_body {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    font-family: sans-serif;
}

